<footer class="footer text-center py-4">
    <small class="copyright">
        
        تولید شده &copy; <a href="http://www.google.com" target="_blank">
            
            توسط kavei Developer
            
        </a>
    </small>
</footer>
