@{
    ViewData["Title"] = "ارتباط با ما";
}

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
    </div>
	</section>
<section class="contact-section px-3 py-5 p-md-5">
	<div class="container">
		<form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="post" action="#">
			<h3 class="text-center mb-3">در دسترس باشید!</h3>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="sr-only" for="cname">نام</label>
					<input type="text" class="form-control" id="cname" name="name" placeholder="نام"
						   minlength="2" required="" aria-required="true">
				</div>
				<div class="form-group col-md-6">
					<label class="sr-only" for="cemail">ایمیل</label>
					<input type="email" class="form-control" id="cemail" name="email" placeholder="ایمیل"
						   required="" aria-required="true">
				</div>
				<div class="form-group col-12">
					<select id="services" class="custom-select" name="services">
						<option selected>سرویس مورد نظر خود را انتخاب کنید...</option>
						<option value="basic">نقره ای</option>
						<option value="standard">طلایی</option>
						<option value="premium">پلاتین</option>
						<option value="not sure">الماس</option>
					</select>
				</div>
				<div class="form-group col-12">
					<label class="sr-only" for="cmessage">پیغام شما</label>
					<textarea class="form-control" id="cmessage" name="message"
							  placeholder="پیغام خود را وارد نمایید ..." rows="10" required=""
							  aria-required="true"></textarea>
				</div>
				<div class="form-group col-12">
					<button type="submit" class="btn btn-block btn-primary py-2">ارسال</button>
				</div>
			</div>
		</form>
	</div>
</section>