@model Contact
@{
    ViewData["Title"] = "ارتباط با ما";
}

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
    </div>
	</section>
<section class="contact-section px-3 py-5 p-md-5">
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(ViewBag.success))
        {
            <div class="alert-success p-lg-0" >
                <p>@ViewBag.success"]</p>
            </div>
        }
        
        @if (!string.IsNullOrWhiteSpace(ViewBag.error))
        {
            <div class="alert-danger p-5" >
                <p>@ViewBag.error"]</p>
            </div>
        }
        

       
        <form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="post" asp-action="Contact" asp-controller="Home">
            <h3 class="text-center mb-3">در دسترس باشید!</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="sr-only" asp-for="Name">نام</label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="نام">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only" asp-for="Email">ایمیل</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="ایمیل">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-12">
                    <select class="custom-select" asp-for="Service" asp-items="Model.Services">
                        <option  selected="selected" value="0">سرویس مورد نظر خود را انتخاب کنید...</option>
                        @*<option value="basic">نقره ای</option>
						<option value="standard">طلایی</option>
						<option value="premium">پلاتین</option>
						<option value="not sure">الماس</option>*@
                    </select>
                </div>
                <div class="form-group col-12">
                    <label class="sr-only" asp-for="Message">پیغام شما</label>
                    <textarea class="form-control" asp-for="Message"
							  placeholder="پیغام خود را وارد نمایید ..." rows="10" required=""
							  aria-required="true"></textarea>
                </div>
                <div class="form-group col-12">
                    <button type="submit" class="btn btn-block btn-primary py-2">ارسال</button>
                </div>
            </div>
        </form>
    </div>
</section>