

@{
    ViewData["Title"] = "صفحه اصلی";
}


<section class="about-me-section p-3 p-lg-5 theme-bg-light">
	<div class="container">
		<div class="profile-teaser media flex-column flex-lg-row">
			<img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="assets/images/img/IMG-2137.jpg" alt="">
			<div class="media-body">
				<h2 class="name font-weight-bold mb-1">صهبا کاویی</h2>
				<div class="tagline mb-3">برنامه نویس </div>
                <div class="bio mb-4">
                    مهارتهای تخصص ی
                    •
                    •
                    Asp.netCore,Git ,MVC, VB.Net, C#, ASP.NET
                    Scripting Languages: CSS, JavaScript, HTML5, AJAX
                    Databases: MS SQL Server, Oracle •
                    Network: DHCP, DNS, Routing, TCP/IP, Active Directory, IIS •
                    Operating Systems: Windows 10, 8, 7, Vista, XP, Windows Server •
                    General Domain Knowledge: Finance, Inventory, Office Automation, Contract Management •
                    
                </div>
                <h1 class="mc-text-h1 mc-my-2">Full stack Developer</h1>
                <div></div>
                <div> <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                    <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                        <img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27789%27%20height=%27338%27/%3e">
                    </span><img alt="" image="[object Object]" srcset="https://images.ctfassets.net/3s5io6mnxfqz/3rQuOkEHnoPYw88NkubDKs/08ee7bf9c6f2a3d08be45d887e2259b0/AdobeStock_118776815.jpeg?w=828 1x, https://images.ctfassets.net/3s5io6mnxfqz/3rQuOkEHnoPYw88NkubDKs/08ee7bf9c6f2a3d08be45d887e2259b0/AdobeStock_118776815.jpeg?w=1920 2x" src="https://images.ctfassets.net/3s5io6mnxfqz/3rQuOkEHnoPYw88NkubDKs/08ee7bf9c6f2a3d08be45d887e2259b0/AdobeStock_118776815.jpeg?w=1920" decoding="async" data-nimg="intrinsic" class="mc-tile-image" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%">
                </span>
                ></div>
				<div class="mb-4">
					<a class="btn btn-primary mr-2 mb-3" href="http://www.google.com">
						<i class="fas fa-arrow-alt-circle-right ml-2"></i><span class="d-none d-md-inline">
							برو
							به
						</span> گوگل
					</a>
					<a class="btn btn-secondary mb-3" href="#">
						<i class="fas fa-file-alt ml-2"></i>
                        <span class="d-none d-md-inline">مشاهده </span> نمونه کارها
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

@*<partial name="Projects"/>*@
@*@await Html.PartialAsync(partialViewName:"Projects",new List<Project>())*@
@*// loading view component*@
@await Component.InvokeAsync("Projects")


<div class="container">
    <hr>
</div>


@await Component.InvokeAsync("LatestArticles")

